@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --uc-celeste: #0176DE;
  --uc-azul: #173F8A;
  --uc-azul-oscuro: #03122E;
  --uc-amarillo: #FEC60D;
  --uc-amarillo-oscuro: #E3AE00;

  --uc-negro: #000000;
  --uc-gris-oscuro-a: #707070;
  --uc-gris-oscuro-b: #9C9C9C;
  --uc-gris-oscuro-c: #C6C6C6;
  --uc-gris-claro-a: #EAEAEA;
  --uc-gris-claro-b: #F0F0F0;
  --uc-gris-claro-c: #F6F6F6;
  --uc-blanco: #FFFFFF;

  --uc-verde-exito: #00AA00;
  --uc-amarillo-advertencia: #E3AE00;
  --uc-rojo-error: #F24F4F;
  --uc-celeste-info: #0176DE;

  font-family: 'Roboto', system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--uc-gris-claro-c);
}

#root {
  min-height: 100vh;
  width: 100%;
}
